* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background-image: url('images/Opener_background.jpg'); */
  background-image: linear-gradient(to bottom, #ffffff, #b3b3b5);
}

.headerImage {
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

header img {
  box-shadow: 10px 10px 8px #888888;
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 20px #888888;
}
#game-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url('images/simon-mumenthaler-585903-unsplash.jpg');
  background-size: cover;
  box-shadow: inset 0px 0px 40px 40px #b3b3b5;
  height: 100vh;
  width: 100%;
}

canvas {
  border: 1px solid black;
  height: 700px;
  width: 500px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

#refresh {
  display: none;
}
